Repository scowalt/actions-labeler-example, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, CI

Renamed tasks
  .github/workflows/pr-labeler.yml
  .github/workflows/sync-labels-PR-validation.yml
Labels: CI

Need to add labels to a repo
  .github/labels.yml
Labels: none

More organized readme
  README.md
Labels: docs

README update
  README.md
Labels: docs

README update
  README.md
Labels: docs

Fixing import action
  .github/workflows/import-labels-from-github.yml
  README.md
Labels: docs, CI

Import existing labels
  .github/labels.yml
  result
Labels: none

Import existing labels
  .github/labels.yml
Labels: none

Finally got a successful run
  README.md
Labels: docs

README update
  README.md
Labels: docs

Update README.md
  README.md
Labels: docs

.github/labeler.yml:

# Automatically label Github pull requests. Use labels from `labels.yml`
# See https://github.com/actions/labeler#create-githublabeleryml
docs:
  - README.md

CI:
  - .github/workflows/**/*
